version: '3'

services:
  dmsql:
    image: mysql:5.7
    environment:
      - MYSQL_ROOT_PASSWORD=root
      - MYSQL_DATABASE=test
      - MYSQL_PASSWORD=root
    ports:
    - 9999:3306
  app:
    image: 9909733/diet-manager
    depends_on:
      - dmsql
    ports:
      - 8080:8080
    environment:
      - DATABASE_HOST=dmsql
      - DATABASE_USER=root
      - DATABASE_PASSWORD=root
      - DATABASE_NAME=test
      - DATABASE_PORT=9999
